/* ----MyStyles---- */

.table-bordered, .table-bordered th, .table-bordered td{
	border: 4px solid #ddd !important;
}

.table td,
.table th{
	text-align:center;
}

.navbar{
        margin-bottom: 100px !important;
}

#myMapArea{
	background-image: url("upup.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10% auto;
	min-height: 70vh; /* 60% of the viewport height will be occupied by this div. */
}

#myMap{
	border-left: 4px solid #ddd;
	border-top: 4px solid #ddd;
	border-right: 4px solid #ddd;
	height: 50vh; /* 60% of the viewport height will be occupied by this div. */
}

#myLegends{
	border-right: 4px solid #ddd;
	border-top: 4px solid #ddd;
	height: 50vh; /* 60% of the viewport height will be occupied by this div. */
}

#myLegendsTable{
	display: inline-block;
	width: 100%;
}

#myMapSvg, #myLegendsSvg{
	width: 100%;
	height: 100%;
}

.spaceAdder{
	color: white;
}

div{
	text-align: justify;
	text-justify: inter-word;
}

td{
	padding:5px;
}

input[type=number] { 
	text-align:center;
}

.myBox{
	width: 50px;
}

img{
	width: 100%;
	padding-bottom: 10px;
}

#myParameters img{
	width: 40%;
}

.MenInBlues{
	background-color: powderblue;
	font-family: "Courier New", Courier, monospace;
	color: black;
	font-size: 2.5vh;
}

.MenInBlack{
	background-color: black;
	font-family: "Courier New", Courier, monospace;
	color: white;
	font-size: 2.5vh;
}

.myMethodoBox{
	border: 1px solid #ddd;
	color: black;
}

#myEquation{
	font-family: "Courier New", Courier, monospace;
}


/* Special styling for WebKit/Blink */

input[type=range]::-webkit-slider-thumb {
	cursor: pointer;
}

/* All the same stuff for Firefox */

input[type=range]::-moz-range-thumb {
  	cursor: pointer;
}

/* All the same stuff for IE */

input[type=range]::-ms-thumb {
  	cursor: pointer;
}

.btn:disabled{
	cursor: not-allowed;
}

.county{
	stroke: black;
	stroke-width: 1;
}

.hidden-xs{
	font-weight: bold;
}

.legendRects{
	stroke: black;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.glyphicon:hover {
	cursor: pointer;
}

path:hover {
	fill-opacity: .5;
	stroke-width: 2;
}

/* Style for Custom Tooltip from: http://bl.ocks.org/michellechandra/0b2ce4923dc9b5809922 */
div.tooltip {   
 	position: absolute;           
	text-align: center;           
	width: 90px;                  
	height: 32px;                 
	padding: 2px;             
	font: 12px sans-serif;        
	background: blue;   
	border: 1px solid black;     
	border-radius: 8px;           
	pointer-events: none;
	color: white;
}

/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {

	.myMethodoBox{
		font-size: 2.5vh;
	}

}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}